



body {
    background-color: #c2F2EC;
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fit-window {
    width: 100vw;
    height: 100vh;
}

.flex-window {
    display: flex;
    height: calc(100vh - 16px);
}

#ccontainer {
    width: 100%;
    height: calc(100% - 1.5em - 40px);
}