
body{
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
}
h2{
    font-size: 50px;
}


#daySchedule {
    display: flex;
    overflow-y: scroll;
    margin: 0px auto;
    height: 100%;
    background-color: aliceblue;

    > div {
        width: calc(100% / 8);
        display: table;
        text-align: center;
        border-style: solid;
        border-width: 2.5px;
        border-color:  #78F0E0;

        > .weekdayStaticHour ~ .weekdayStaticHour {
            margin-top: 0px;
            
        }
    }
    
}
#daySchedule .titleParagraph{
padding-top:5px;
}

#daySchedule p{
    padding-top:5px;
    }

.weekdayHeader {
    height: 50px;
    width: inherit;
    margin: -5px -2.5px 0px;
    position: fixed;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: #78F0E0;
    border-bottom-width: 5px;

    > div {
        background-color: aliceblue;
        height: 100%;
        width: calc(100% - 5px);
        margin: 0 auto;
    }
}

.weekdayStaticHour {
    height: 57.5px;
    margin-top: 50px;
    border-bottom-style: dashed;
    border-bottom-color: #78F0E0;
    border-bottom-width: 2.4px;
}

#header-H {
    margin: -5px 0 0 !important;
    
}

#hourHeaderContent {
    width: 100% !important;
}

.timeRootDiv {
    position: absolute;
    width: 100%;

    > div {
        background-color: #75EBDB;
        width: 100%;
        height: calc(100% - 3px);
        display: flex;
    }
}


.timeExpander {
    height: 11.4px;
    width: 25%;
    margin-top: auto;
    margin-bottom: 3px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}



.timeExpander:hover {
    background-color: white;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
}

.sDay {
    position: relative;
}

div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;
}

.timeDetailContainer {
    width: inherit;
    height: calc(100% - 14.4px);
    position: absolute;

    > p {
        margin-top: 1px;
        margin-left: 3px;
        text-align: left;
        font-size: 10.5px;
    }
}

.titleParagraph {
    margin: 0;
}

.dayDetailParagraph {
    margin: 0;
}