
#clearweek {
  position: relative;
  top: -1vh;
  left: 45%;
  background-color:#c2c2c2;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

#nextweek {
  position: relative;
  top:  -5vh;
  float: right;
  color: #5A706D;

}

#previousweek{
  position: relative;
  top: -5vh;
  float: left;
  color: #5A706D;
  
}
.arrow a {
  
  display: inline-block;
  font-size: 65px;
  text-decoration: none;
  padding: 1px 16px 1px 16px;
  
}
.arrow a:hover {
  background-color: #78F0E0;
  color: black;
  
}

