body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigaatio */

.main-head {
  background: #131c27;
  color: white;
  top: 0px;
  z-index: 3;
}

nav {
  min-height: 7vh;
  display: flex;
  width: 90%;
  padding: 0.1rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  flex: 1 1 40rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
}

nav ul li a:hover {
  transition: ease-in-out 0.3s;
  color: rgb(40, 167, 69);
  text-decoration: none;
}
#logo {
  font-size: 1.5rem;
  flex: 1 1 10rem;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 1;
  font-family: "Pattaya", sans-serif;
}

#logo:hover {
  transition: ease-in-out 0.4s;
  cursor: pointer;
  color: rgb(40, 167, 69);
}
