body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigaatio */

.main-head {
  background: #131c27;
  color: white;
  top: 0px;
  z-index: 3;
}

nav {
  min-height: 7vh;
  display: flex;
  width: 90%;
  padding: 0.1rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  flex: 1 1 40rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
}

nav ul li a:hover {
  transition: ease-in-out 0.3s;
  color: rgb(40, 167, 69);
  text-decoration: none;
}
#logo {
  font-size: 1.5rem;
  flex: 1 1 10rem;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 1;
  font-family: "Pattaya", sans-serif;
}

#logo:hover {
  transition: ease-in-out 0.4s;
  cursor: pointer;
  color: rgb(40, 167, 69);
}

/* sign in FORM */


/* #background-color{
min-height: 100vh;
background-image: linear-gradient( 110.9deg,  rgba(44,221,239,1) 1.1%, rgba(14,191,210,1) 37.6%, rgba(8,127,140,1) 99.2%, transparent);
background-repeat: no-repeat;
background-size: cover;
} */

.wrapper {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 0 30% 0 30%;
}

.form-box input {
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 20px;
}

.form-area {
  background-color: rgb(199, 218, 224);
  width: 50%;
  border-radius: 20px;
}
.form-area h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Arimo", sans-serif;
}
.form-area p {
  text-align: center;
  font-size: 20px;
  color: red;
}

.wrapper button {
  background-color: rgb(40, 167, 69);
  text-transform: uppercase;
  color: white;
  border: none;
  font-size: 20px;
  width: 100%;
  padding: 2rem;
  margin-top: 1.5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.wrapper button:hover {
  background-color: darkorange;
  transition: ease-in-out 0.6s;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }
}

/*Resetpassword page*/



#forgotpassword {
  font-family: "Arimo", sans-serif;
  background-color: rgb(199, 218, 224);
  padding: 15px;
  width: 100%;
  height: 50%;
  max-width: 550px;
  margin: auto;
  margin-top: 135px;
  text-align: center;
  
}

.resetpasswordbtn {
  background-color: #28a745;
  border-color: #28a745;
  border: 1px solid #28a745;
  color: white;
  margin-top: 25px;
  width: 50%;
  height: 12%;
  border-radius: 0.25rem;
}

.resetpasswordbtn:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

#RecorveryEmail {
  display: block;
  width: 100%;
  height: 30px;
  font-weight: 400;
  color: #495057;
  background: #fff;
  background-clip: padding-box;
  margin-top: 25px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
