<div id="daySchedule">
    <div id="H" class="hDay"></div>
    <div id="Maanantai" class="sDay"></div>
    <div id="Tiistai" class="sDay"></div>
    <div id="Keskiviikko" class="sDay"></div>
    <div id="Torstai" class="sDay"></div>
    <div id="Perjantai" class="sDay"></div>
    <div id="Lauantai" class="sDay"></div>
    <div id="Sunnuntai" class="sDay"></div>
</div>