
    <!-- Navigaatiopalkki -->
    <header class="main-head">
        <nav>
          <h1 id="logo">LOGO</h1>
          <ul>
            <li><a href="app.html">Calendar</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="index.html">Logout</a></li>
          </ul>
        </nav>
      </header>